		<div class="el el-6c9ebe2d e-flex e-con-boxed e-con e-parent" data-id="6c9ebe2d" data-element_type="container" id="about" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;waves&quot;}">
					<div class="e-con-inner">
				<div class="shape shape-bottom" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
	c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
	c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"/>
</svg>		</div>
				<div class="el el-2180844f hidden-mobile widget widget-heading" data-id="2180844f" data-element_type="widget" data-widget_type="heading.default">
					<h2 class="heading-title size-default">for every step, every challenge, and every triumph.</h2>				</div>
				<div class="el el-5eba8db hidden-mobile widget widget-heading" data-id="5eba8db" data-element_type="widget" data-widget_type="heading.default">
					<h2 class="heading-title size-default">Guiding you through <span class="literata-word">every step</span> of <br> your breastfeeding journey </h2>				</div>
		<div class="el el-63eaede3 e-con-full e-flex e-con e-child" data-id="63eaede3" data-element_type="container">
				<div class="el el-1acc0e37 widget-tablet__width-initial widget widget-image" data-id="1acc0e37" data-element_type="widget" data-widget_type="image.default">
															<img loading="lazy" decoding="async" width="624" height="767" src="/v3-assets/Group-2.webp" class="attachment-full size-full wp-image-1130" alt="Lauren LiButti, RN, IBCLC, founder of Lakeside Lactation" srcset="/v3-assets/Group-2.webp 624w, /v3-assets/Group-2-244x300.png 244w" sizes="(max-width: 624px) 100vw, 624px" />															</div>
		<div class="el el-e3ef639 e-con-full e-flex e-con e-child" data-id="e3ef639" data-element_type="container">
				<div class="el el-3801346b hidden-desktop hidden-tablet widget widget-heading" data-id="3801346b" data-element_type="widget" data-widget_type="heading.default">
					<h2 class="heading-title size-default">for every step, every challenge, and every triumph.</h2>				</div>
				<div class="el el-60d4ccc8 hidden-desktop hidden-tablet widget widget-heading" data-id="60d4ccc8" data-element_type="widget" data-widget_type="heading.default">
					<h2 class="heading-title size-default">Guiding you through <span class="literata-word">every step</span> of  your breastfeeding journey </h2>				</div>
				<div class="el el-23875f3a widget widget-heading" data-id="23875f3a" data-element_type="widget" data-widget_type="heading.default">
					<p class="heading-title size-default">Meet Lauren LiButti, RN, IBCLC</p>				</div>
				<div class="el el-322a71c0 widget__width-initial widget widget-text-editor" data-id="322a71c0" data-element_type="widget" data-widget_type="text-editor.default">
									<p>After two decades caring for medically complex newborns and guiding parents through some of their most vulnerable moments, Lauren expanded her practice to focus on personalized, hands-on lactation support.</p><p>As a mother of two, Lauren also understands breastfeeding challenges firsthand. Her own experiences navigating feeding difficulties shaped her compassionate, judgment-free approach and deep commitment to helping families feel informed, supported, and confident.</p><p>Through her private practice, Lakeside Lactation, Lauren provides individualized, evidence-based lactation care to families throughout Lake County and the North Shore suburbs of Chicago. Every visit is designed to leave families feeling reassured, empowered, and equipped with a clear plan forward.</p>								</div>
				<div class="el el-5b8596b0 hidden-desktop hidden-tablet hidden-mobile widget widget-button" data-id="5b8596b0" data-element_type="widget" data-widget_type="button.default">
										<a class="btn btn-link size-sm" href="#">
						<span class="btn-content-wrapper">
						<span class="btn-icon">
				<i aria-hidden="true" class="fal fa-long-arrow-right"></i>			</span>
									<span class="btn-text">More about  Lauren</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
