		<div class="el el-2630074c e-con-full e-flex e-con e-parent" data-id="2630074c" data-element_type="container" id="faq" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;waves&quot;}">
				<div class="shape shape-top" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
	c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
	c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"/>
</svg>		</div>
		<div class="el el-2b61bef0 e-con-full e-flex e-con e-child" data-id="2b61bef0" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="el el-218d0f61 widget widget-heading" data-id="218d0f61" data-element_type="widget" data-widget_type="heading.default">
					<h2 class="heading-title size-default">FAQ</h2>				</div>
				<div class="el el-51c567cf widget widget-heading" data-id="51c567cf" data-element_type="widget" data-widget_type="heading.default">
					<h2 class="heading-title size-default">Frequently
<span class="literata-word">Asked</span>
Questions</h2>				</div>
				<div class="el el-bf90c5b widget widget-heading" data-id="bf90c5b" data-element_type="widget" data-widget_type="heading.default">
					<div class="heading-title size-default">Here are answers to a few common questions about lactation support and what working together looks like. <br><i>Still have questions?</i></div>				</div>
				<div class="el el-d88889f widget widget-button" data-id="d88889f" data-element_type="widget" data-widget_type="button.default">
										<a class="btn btn-link size-sm" href="#em-base-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjEwODQiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
						<span class="btn-content-wrapper">
						<span class="btn-icon">
				<i aria-hidden="true" class="fal fa-long-arrow-right"></i>			</span>
									<span class="btn-text">Contact Lauren</span>
					</span>
					</a>
								</div>
				</div>
		<div class="el el-79d25a2d e-con-full e-flex e-con e-child" data-id="79d25a2d" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="el el-7a7e2865 widget widget-heading" data-id="7a7e2865" data-element_type="widget" data-widget_type="heading.default">
					<h3 class="heading-title size-default">What does a lactation consultant do?</h3>				</div>
				<div class="el el-5a9b9ebd widget widget-text-editor" data-id="5a9b9ebd" data-element_type="widget" data-widget_type="text-editor.default">
									<p>A lactation consultant provides expert support for breastfeeding families, offering education, troubleshooting, and personalized care plans for parents and babies. They help with latch, pain, milk supply, and advise on pumping and supplementation. An IBCLC stands for International Board Certified Lactation Consultant, and is the gold standard in lactation education and care.</p>								</div>
				<div class="el el-2a78ca71 widget-divider--view-line widget widget-divider" data-id="2a78ca71" data-element_type="widget" data-widget_type="divider.default">
							<div class="divider">
			<span class="divider-separator">
						</span>
		</div>
						</div>
				<div class="el el-70c4cc3 widget widget-heading" data-id="70c4cc3" data-element_type="widget" data-widget_type="heading.default">
					<h3 class="heading-title size-default">Does insurance cover lactation consultations?</h3>				</div>
				<div class="el el-5daa8086 widget widget-text-editor" data-id="5daa8086" data-element_type="widget" data-widget_type="text-editor.default">
									<p>Yes! </p><p>Option 1: If you would like to check coverage prior to a consult- create an account on TLN to submit insurance information and if approved, you can then schedule an appointment via the TLN website. To get paired with me, <a href="https://mytln.care/register/?practiceId=001RQ00000b0lpkYAA" target="_blank" rel="noopener">click here</a>.</p><p>Option 2: I will provide you with a superbill, which you can submit to your insurance company after the visit for potential reimbursement. Please note that coverage is not guaranteed.</p>								</div>
				<div class="el el-5cacc494 widget-divider--view-line widget widget-divider" data-id="5cacc494" data-element_type="widget" data-widget_type="divider.default">
							<div class="divider">
			<span class="divider-separator">
						</span>
		</div>
						</div>
				<div class="el el-2ab14555 widget widget-heading" data-id="2ab14555" data-element_type="widget" data-widget_type="heading.default">
					<h3 class="heading-title size-default">Can I pay out of pocket?</h3>				</div>
				<div class="el el-1cb555a0 widget widget-text-editor" data-id="1cb555a0" data-element_type="widget" data-widget_type="text-editor.default">
									<p>Yes! I have many easy ways of taking payment.</p>								</div>
				<div class="el el-6b868b33 widget-divider--view-line widget widget-divider" data-id="6b868b33" data-element_type="widget" data-widget_type="divider.default">
							<div class="divider">
			<span class="divider-separator">
						</span>
		</div>
						</div>
				<div class="el el-7bb7b2e9 widget widget-heading" data-id="7bb7b2e9" data-element_type="widget" data-widget_type="heading.default">
					<h3 class="heading-title size-default">Travel Fee/Cancelation fee</h3>				</div>
				<div class="el el-23f56754 widget widget-text-editor" data-id="23f56754" data-element_type="widget" data-widget_type="text-editor.default">
									<p>Home visits further than 20 mile drive will incur an additional travel fee of $50. 24 hour cancellation fee of $50.</p>								</div>
				</div>
				</div>
