<footer data-astro-type="footer" data-astro-id="1222" class="astro astro-1222 astro-location-footer" data-astro-post-type="astro_library">
			<div class="astro-element astro-element-f98553f e-flex e-con-boxed e-con e-parent" data-id="f98553f" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="astro-element astro-element-46c4286 e-con-full e-flex e-con e-child" data-id="46c4286" data-element_type="container" data-e-type="container">
		<div class="astro-element astro-element-99a41b0 e-con-full e-flex e-con e-child" data-id="99a41b0" data-element_type="container" data-e-type="container">
				<div class="astro-element astro-element-64598c5 astro-widget__width-initial astro-widget astro-widget-image" data-id="64598c5" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
																<a href="/">
							<img width="800" height="239" src="/assets/media/cb271e9e-jcaudiology-logo-1024x306.png" class="attachment-large size-large astro-image-4393" alt="JC Audiology logo with “Hearing for Life” tagline" srcset="/assets/media/cb271e9e-jcaudiology-logo-1024x306.png 1024w, /assets/media/6fa1d225-jcaudiology-logo.png 1500w" sizes="(max-width: 800px) 100vw, 800px">								</a>
															</div>
				<div class="astro-element astro-element-e230faf astro-mobile-align-center astro-icon-list--layout-traditional astro-list-item-link-full_width astro-widget astro-widget-icon-list" data-id="e230faf" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
							<ul class="astro-icon-list-items">
							<li class="astro-icon-list-item">
											<a href="https://maps.app.goo.gl/XDghmPGEpiqFh5DB9" target="_blank">

												<span class="astro-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-map-marker-alt" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg"><path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></svg>						</span>
										<span class="astro-icon-list-text">1519 Dale Mabry Hwy Suite 105 Lutz FL 33548</span>
											</a>
									</li>
								<li class="astro-icon-list-item">
											<a href="tel:8138512311">

												<span class="astro-icon-list-icon">
							<svg aria-hidden="true" class="e-font-icon-svg e-fas-phone" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg>						</span>
										<span class="astro-icon-list-text">(813) 851-2311</span>
											</a>
									</li>
						</ul>
						</div>
				<div class="astro-element astro-element-43f7d12 e-grid-align-left astro-shape-rounded astro-grid-0 astro-widget astro-widget-social-icons" data-id="43f7d12" data-element_type="widget" data-e-type="widget" data-widget_type="social-icons.default">
							<div class="astro-social-icons-wrapper astro-grid" role="list">
							<span class="astro-grid-item" role="listitem">
					<a class="astro-icon astro-social-icon astro-social-icon-facebook astro-repeater-item-f95502e" href="https://www.facebook.com/JCAudiology/" target="_blank" rel="nofollow">
						<span class="astro-screen-only">Facebook</span>
						<svg aria-hidden="true" class="e-font-icon-svg e-fab-facebook" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg>					</a>
				</span>
							<span class="astro-grid-item" role="listitem">
					<a class="astro-icon astro-social-icon astro-social-icon-youtube astro-repeater-item-dc5883d" href="https://www.youtube.com/@jcaudiology2947" target="_blank" rel="nofollow">
						<span class="astro-screen-only">Youtube</span>
						<svg aria-hidden="true" class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>					</a>
				</span>
					</div>
						</div>
				</div>
		<div class="astro-element astro-element-9867943 e-con-full e-flex e-con e-child" data-id="9867943" data-element_type="container" data-e-type="container">
		<div class="astro-element astro-element-f605cd3 e-con-full e-flex e-con e-child" data-id="f605cd3" data-element_type="container" data-e-type="container">
				<div class="astro-element astro-element-87b149c astro-widget astro-widget-heading" data-id="87b149c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<div class="astro-heading-title astro-size-default">Services</div>				</div>
				<div class="astro-element astro-element-ae7531d astro-nav-menu__align-start astro-nav-menu--dropdown-none astro-widget astro-widget-nav-menu" data-id="ae7531d" data-element_type="widget" data-e-type="widget" data-settings="{&quot;layout&quot;:&quot;vertical&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;svg aria-hidden=\&quot;true\&quot; class=\&quot;e-font-icon-svg e-fas-caret-down\&quot; viewBox=\&quot;0 0 320 512\&quot; xmlns=\&quot;http:\/\/www.w3.org\/2000\/svg\&quot;&gt;&lt;path d=\&quot;M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z\&quot;&gt;&lt;\/path&gt;&lt;\/svg&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}" data-widget_type="nav-menu.default">
								<nav aria-label="Menu" class="astro-nav-menu--main astro-nav-menu__container astro-nav-menu--layout-vertical e--pointer-none">
				<ul id="menu-1-ae7531d" class="astro-nav-menu sm-vertical" data-smartmenus-id="17792362492486467"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5080"><a href="/audiology-services/hearing-aid-services/" class="astro-item">Hearing Aid Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5084"><a href="/audiology-services/tinnitus-evaluation-support/" class="astro-item">Tinnitus Evaluation and Support</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5081"><a href="/audiology-services/hearing-tests/" class="astro-item">Hearing Tests</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5079"><a href="/audiology-services/hearing-aid-fittings/" class="astro-item">Hearing Aid Fittings</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5082"><a href="/audiology-services/real-ear-measurement/" class="astro-item">Real Ear Measurement</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5083"><a href="/audiology-services/sensorineural-hearing-loss/" class="astro-item">Sensorineural Hearing Loss Evaluation and Treatment</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5078"><a href="/hearing-aids-products/hearing-aid-batteries/" class="astro-item">Hearing Aid Batteries</a></li>
</ul>			</nav>
						<nav class="astro-nav-menu--dropdown astro-nav-menu__container" aria-hidden="true">
				<ul id="menu-2-ae7531d" class="astro-nav-menu sm-vertical" data-smartmenus-id="17792362492487407"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5080"><a href="/audiology-services/hearing-aid-services/" class="astro-item" tabindex="-1">Hearing Aid Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5084"><a href="/audiology-services/tinnitus-evaluation-support/" class="astro-item" tabindex="-1">Tinnitus Evaluation and Support</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5081"><a href="/audiology-services/hearing-tests/" class="astro-item" tabindex="-1">Hearing Tests</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5079"><a href="/audiology-services/hearing-aid-fittings/" class="astro-item" tabindex="-1">Hearing Aid Fittings</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5082"><a href="/audiology-services/real-ear-measurement/" class="astro-item" tabindex="-1">Real Ear Measurement</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5083"><a href="/audiology-services/sensorineural-hearing-loss/" class="astro-item" tabindex="-1">Sensorineural Hearing Loss Evaluation and Treatment</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5078"><a href="/hearing-aids-products/hearing-aid-batteries/" class="astro-item" tabindex="-1">Hearing Aid Batteries</a></li>
</ul>			</nav>
						</div>
				</div>
		<div class="astro-element astro-element-329eb8b e-con-full e-flex e-con e-child" data-id="329eb8b" data-element_type="container" data-e-type="container">
				<div class="astro-element astro-element-a3ec193 astro-widget astro-widget-heading" data-id="a3ec193" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<div class="astro-heading-title astro-size-default">Hearing Aids</div>				</div>
				<div class="astro-element astro-element-16a0110 astro-nav-menu__align-start astro-nav-menu--dropdown-none astro-widget astro-widget-nav-menu" data-id="16a0110" data-element_type="widget" data-e-type="widget" data-settings="{&quot;layout&quot;:&quot;vertical&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;svg aria-hidden=\&quot;true\&quot; class=\&quot;e-font-icon-svg e-fas-caret-down\&quot; viewBox=\&quot;0 0 320 512\&quot; xmlns=\&quot;http:\/\/www.w3.org\/2000\/svg\&quot;&gt;&lt;path d=\&quot;M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z\&quot;&gt;&lt;\/path&gt;&lt;\/svg&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}" data-widget_type="nav-menu.default">
								<nav aria-label="Menu" class="astro-nav-menu--main astro-nav-menu__container astro-nav-menu--layout-vertical e--pointer-none">
				<ul id="menu-1-16a0110" class="astro-nav-menu sm-vertical" data-smartmenus-id="17792362492489167"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5075"><a href="/hearing-aids/phonak/" class="astro-item">Phonak Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5076"><a href="/hearing-aids/oticon/" class="astro-item">Oticon Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5074"><a href="/hearing-aids/resound/" class="astro-item">ReSound Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5072"><a href="/hearing-aids/starkey/" class="astro-item">Starkey Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5071"><a href="/hearing-aids/unitron/" class="astro-item">Unitron Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5070"><a href="/hearing-aids/widex/" class="astro-item">Widex Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5073"><a href="/hearing-aids/signia/" class="astro-item">Signia Hearing Aids</a></li>
</ul>			</nav>
						<nav class="astro-nav-menu--dropdown astro-nav-menu__container" aria-hidden="true">
				<ul id="menu-2-16a0110" class="astro-nav-menu sm-vertical" data-smartmenus-id="17792362492480137"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5075"><a href="/hearing-aids/phonak/" class="astro-item" tabindex="-1">Phonak Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5076"><a href="/hearing-aids/oticon/" class="astro-item" tabindex="-1">Oticon Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5074"><a href="/hearing-aids/resound/" class="astro-item" tabindex="-1">ReSound Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5072"><a href="/hearing-aids/starkey/" class="astro-item" tabindex="-1">Starkey Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5071"><a href="/hearing-aids/unitron/" class="astro-item" tabindex="-1">Unitron Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5070"><a href="/hearing-aids/widex/" class="astro-item" tabindex="-1">Widex Hearing Aids</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5073"><a href="/hearing-aids/signia/" class="astro-item" tabindex="-1">Signia Hearing Aids</a></li>
</ul>			</nav>
						</div>
				</div>
		<div class="astro-element astro-element-77814d9 e-con-full e-flex e-con e-child" data-id="77814d9" data-element_type="container" data-e-type="container">
				<div class="astro-element astro-element-6275d57 astro-widget astro-widget-heading" data-id="6275d57" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<div class="astro-heading-title astro-size-default">Quick Links</div>				</div>
				<div class="astro-element astro-element-411e9ea astro-nav-menu__align-start astro-nav-menu--dropdown-none astro-widget astro-widget-nav-menu" data-id="411e9ea" data-element_type="widget" data-e-type="widget" data-settings="{&quot;layout&quot;:&quot;vertical&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;svg aria-hidden=\&quot;true\&quot; class=\&quot;e-font-icon-svg e-fas-caret-down\&quot; viewBox=\&quot;0 0 320 512\&quot; xmlns=\&quot;http:\/\/www.w3.org\/2000\/svg\&quot;&gt;&lt;path d=\&quot;M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z\&quot;&gt;&lt;\/path&gt;&lt;\/svg&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}" data-widget_type="nav-menu.default">
								<nav aria-label="Menu" class="astro-nav-menu--main astro-nav-menu__container astro-nav-menu--layout-vertical e--pointer-none">
				<ul id="menu-1-411e9ea" class="astro-nav-menu sm-vertical" data-smartmenus-id="17792362492491929"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4431 current_page_item menu-item-5086"><a href="/" aria-current="page" class="astro-item astro-item-active">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5087"><a href="/about/" class="astro-item">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5088"><a href="/audiology-services/" class="astro-item">Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5089"><a href="/contact/" class="astro-item">Contact Us</a></li>
</ul>			</nav>
						<nav class="astro-nav-menu--dropdown astro-nav-menu__container" aria-hidden="true">
				<ul id="menu-2-411e9ea" class="astro-nav-menu sm-vertical" data-smartmenus-id="17792362492495488"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4431 current_page_item menu-item-5086"><a href="/" aria-current="page" class="astro-item astro-item-active" tabindex="-1">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5087"><a href="/about/" class="astro-item" tabindex="-1">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5088"><a href="/audiology-services/" class="astro-item" tabindex="-1">Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5089"><a href="/contact/" class="astro-item" tabindex="-1">Contact Us</a></li>
</ul>			</nav>
						</div>
				</div>
				</div>
				</div>
				<div class="astro-element astro-element-534dd13 astro-widget-divider--view-line astro-widget astro-widget-divider" data-id="534dd13" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
							<div class="astro-divider">
			<span class="astro-divider-separator">
						</span>
		</div>
						</div>
		<div class="astro-element astro-element-5a40911 e-con-full e-flex e-con e-child" data-id="5a40911" data-element_type="container" data-e-type="container">
				<div class="astro-element astro-element-67ffa6d astro-widget astro-widget-heading" data-id="67ffa6d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<div class="astro-heading-title astro-size-default">© 2026 JC Audiology. All Rights Reserved.</div>				</div>
				<div class="astro-element astro-element-5902cc0 astro-icon-list--layout-inline astro-list-item-link-full_width astro-widget astro-widget-icon-list" data-id="5902cc0" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
							<ul class="astro-icon-list-items astro-inline-items">
							<li class="astro-icon-list-item astro-inline-item">
											<a href="/terms-of-service/" rel="nofollow">

											<span class="astro-icon-list-text">Terms of Use</span>
											</a>
									</li>
								<li class="astro-icon-list-item astro-inline-item">
											<a href="/privacy-policy/" rel="nofollow">

											<span class="astro-icon-list-text">Privacy Policy</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
					</div>
				</div>
		<a class="astro-element astro-element-a2e79f7 astro-hidden-desktop astro-hidden-laptop astro-hidden-tablet e-flex e-con-boxed e-con e-parent" data-id="a2e79f7" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky&quot;:&quot;bottom&quot;,&quot;sticky_on&quot;:[&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0,&quot;sticky_anchor_link_offset&quot;:0}" href="tel:8138512311">
					<div class="e-con-inner">
				<div class="astro-element astro-element-3fce854 astro-position-inline-start astro-mobile-position-inline-start astro-view-default astro-widget astro-widget-icon-box" data-id="3fce854" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="astro-icon-box-wrapper">

						<div class="astro-icon-box-icon">
				<span class="astro-icon">
				<i aria-hidden="true" class="fad fa-phone"></i>				</span>
			</div>
			
						<div class="astro-icon-box-content">

									<span class="astro-icon-box-title">
						<span>
							Have Questions?						</span>
					</span>
				
									<p class="astro-icon-box-description">
						Call Us Today!
(813) 851-2311					</p>
				
			</div>
			
		</div>
						</div>
					</div>
				</a>
				</footer>