---
import Base from "../layouts/Base.astro";
---

<Base title="Page Not Found | WNC Audiology" description="">
	<main style="padding: 80px 20px; text-align: center;">
		<h1>404 - Page Not Found</h1>
		<p><a href="/">Return to homepage</a></p>
	</main>
</Base>
